<a href="https://colab.research.google.com/github/shivani378/CODETECH-Task1/blob/main/Control_structures_1__(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

** USE THE CONCEPT OF LOOP TO SOLVE TEHE BELOW QUIRIES **

  1) Print the first 10 natural numbers using for loop.

In [1]:

for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

2) Python program to print all the even numbers within the given range.

Range = 0 to 100

In [2]:
for i in range(0, 101, 2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

3) Python program to calculate the sum of all numbers from 1 to a given number.

Given Range = 15

In [3]:
n = 15
sum_of_numbers = sum(range(1, n + 1))
print("Sum of numbers from 1 to", n, "is:", sum_of_numbers)

Sum of numbers from 1 to 15 is: 120

4) Python program to calculate the sum of all the odd numbers within the given range.

Given Range = 10

In [4]:
n = 10
sum_of_odds = sum(i for i in range(1, n + 1) if i % 2 != 0)
print("Sum of odd numbers from 1 to", n, "is:", sum_of_odds)

Sum of odd numbers from 1 to 10 is: 25

5) Python program to print a multiplication table of a given number

given number = 5

In [5]:
num = 5
for i in range(1, 11):
    print(f"{num} x {i} = {num * i}")

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50